<nav>
    <div>
        <a routerLinkActive="active" routerLink="/">
            <img src="./../../assets/img/CoOwnership-Logo-Web-White.png" alt="logo">
        </a>
        <a routerLinkActive="active" routerLink="/">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a routerLinkActive="active" routerLink="settings">
            <i class="fas fa-cogs"></i>
            <span>Settings</span>
        </a>
        <a routerLinkActive="active" routerLink="more">
            <i class="fas fa-bars"></i>
            <span>More</span>
        </a>
    </div>
</nav>