<nav>
    <div>
        <a routerLinkActive="active" routerLink="/">
            <img src="./../../assets/img/CoOwnership-Logo-Web-White.png" alt="logo">
        </a>
        <a routerLinkActive="active" routerLink="/">
            <fa-icon [icon]="faHome"></fa-icon>
            <span>Home</span>
        </a>
        <a routerLinkActive="active" routerLink="settings">
            <fa-icon [icon]="faCogs"></fa-icon>
            <span>Settings</span>
        </a>
        <a routerLinkActive="active" routerLink="more">
            <fa-icon [icon]="faBars"></fa-icon>         
            <span>More</span>
        </a>
    </div>
</nav>