.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    & label, & span {
        font-size: 1.4rem;
    }

    & input {
        border:0;
        border-bottom: 1px solid grey;
    }

    & span {
        color: red;
    }
}