<app-panel id="panel1" cardTitle="Shortfall Checklist">
    <form action="">
        <app-input label="Date of Visit" inputType="date" class="fw"></app-input>
        <app-input label="Short 1 letter" inputType="date" class="hw"></app-input>
        <app-input label="Short 2 letter" inputType="date" class="hw"></app-input>
        <app-input label="Date shortfall accepted" inputType="date" class="fw"></app-input>
        <app-input label="Shortfall amount accepted" inputType="text" class="fw"></app-input>
        <app-input label="Monies received" inputType="date" class="fw"></app-input>
        <app-input label="Repo comparison" inputType="text" class="fw"></app-input>
        <app-input label="Copy accepted contract" inputType="date" class="fw"></app-input>
        <app-input label="Mortgage redemption" inputType="date" class="hw"></app-input>
        <app-input label="Vacated mortgage" inputType="date" class="hw"></app-input>
        <app-input label="Acknowledgement & Undertaking" inputType="date" class="fw"></app-input>
        <app-input label="Bills of cost paid" inputType="date" class="fw"></app-input>
        <app-input label="Deeds executed" inputType="date" class="fw"></app-input>
        <app-input label="Executed documents sent" inputType="date" class="fw"></app-input>
        <app-input label="Direct debit date" inputType="date" class="hw"></app-input>
        <app-input label="Direct debit amount" inputType="text" class="hw"></app-input>
        <app-input label="Standing order date" inputType="date" class="hw"></app-input>
        <app-input label="Standing order amount" inputType="date" class="hw"></app-input>
        <app-input label="Management company" inputType="date" class="fw"></app-input>
        <app-input label="Forwrading address" inputType="text" class=fw></app-input>
    </form>

</app-panel>
<app-panel id="panel2" cardTitle="Applicant 1" *ngFor="let applicant of loadedEquity">
    <app-input-readonly labelName="Name" value={{applicant.Name}}></app-input-readonly>
    <app-input-readonly labelName="Date of birth" value={{applicant.DOB}}></app-input-readonly>
    <app-input-readonly labelName="Nat Ins No" value={{applicant.NI}}></app-input-readonly>
    <app-input-readonly labelName="Mobile" value={{applicant.MobileNum}}></app-input-readonly>
    <app-input-readonly labelName="Home" value={{applicant.HomeNum}}></app-input-readonly>
    <app-input-readonly labelName="Work" value={{applicant.Work}}></app-input-readonly>
    <app-input-readonly labelName="E-mail" value={{applicant.Email}}></app-input-readonly>
    <app-input-readonly labelName="Martial status" value={{applicant.MartialStatus}}></app-input-readonly>
    <app-input-readonly labelName="Matrimonial/social" value={{applicant.Social}}></app-input-readonly>
    <app-input-readonly labelName="Occupation" value={{applicant.Occupation}}></app-input-readonly>
    <app-input-readonly labelName="Job status" value={{applicant.JobStatus}}></app-input-readonly>
    <app-input-readonly labelName="No. dependants" value={{applicant.Dependants}}></app-input-readonly>
    <app-input-readonly labelName="Dependants DOB" value={{applicant.DependantsDOB}}></app-input-readonly>
    <hr/>
    <app-input-readonly labelName="Monthly" value={{applicant.Monthly}}></app-input-readonly>
    <app-input-readonly labelName="Current arrears" value={{applicant.CurrentArrears}}></app-input-readonly>
    <app-input-readonly labelName="Reason for arrears" value={{applicant.ReasonForArrears}}></app-input-readonly>
    <app-input-readonly labelName="Previous month arrears" value="£0.00"></app-input-readonly>
    <app-input-readonly labelName="Current month arrears" value="-£123.45"></app-input-readonly>
    <app-input-readonly labelName="Date & arrears balance" value="2"></app-input-readonly>
    <app-input-readonly labelName="Experian code" value="EX"></app-input-readonly>
    <app-input-readonly labelName="Payment type" value="DD"></app-input-readonly>
    <app-input-readonly labelName="DD Flag" value="N/A"></app-input-readonly>
    <app-input-readonly labelName="Shortfall request" value="N/A"></app-input-readonly>
</app-panel>

