<app-panel id="panel1" cardTitle="Shortfall Checklist">
    <form action="">
        <app-input label="Date of Visit" inputType="date" class="fw"></app-input>
        <app-input label="Short 1 letter" inputType="date" class="hw"></app-input>
        <app-input label="Short 2 letter" inputType="date" class="hw"></app-input>
        <app-input label="Date shortfall accepted" inputType="date" class="fw"></app-input>
        <app-input label="Shortfall amount accepted" inputType="text" class="fw"></app-input>
        <app-input label="Monies received" inputType="date" class="fw"></app-input>
        <app-input label="Repo comparison" inputType="text" class="fw"></app-input>
        <app-input label="Copy accepted contract" inputType="date" class="fw"></app-input>
        <app-input label="Mortgage redemption" inputType="date" class="hw"></app-input>
        <app-input label="Vacated mortgage" inputType="date" class="hw"></app-input>
        <app-input label="Acknowledgement & Undertaking" inputType="date" class="fw"></app-input>
        <app-input label="Bills of cost paid" inputType="date" class="fw"></app-input>
        <app-input label="Deeds executed" inputType="date" class="fw"></app-input>
        <app-input label="Executed documents sent" inputType="date" class="fw"></app-input>
        <app-input label="Direct debit date" inputType="date" class="hw"></app-input>
        <app-input label="Direct debit amount" inputType="text" class="hw"></app-input>
        <app-input label="Standing order date" inputType="date" class="hw"></app-input>
        <app-input label="Standing order amount" inputType="date" class="hw"></app-input>
        <app-input label="Management company" inputType="date" class="fw"></app-input>
        <app-input label="Forwrading address" inputType="text" class=fw></app-input>
    </form>

</app-panel>
<app-panel id="panel2" cardTitle="applicant 1">
    <div>askdjsakdjsakdjaskld asdsakdjsa kldjsalkd jsakldj aslkdjkl</div>
</app-panel>

