<form #equityForm="ngForm" (ngSubmit)="onCreateEquity(equityForm.value)" style="display: flex; flex-direction: column;">
    <input type="text" id="name" name="name" ngModel>
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <button type="submit">Submit</button>
</form>