<form #equityForm="ngForm" (ngSubmit)="onCreateEquity(equityForm.value)" style="display: flex; flex-direction: column;">
    <label for="id">id</label>
    <input type="text" id="id" name="id" ngModel>    
    <label for="name">Name</label>
    <input type="text" id="Name" name="Name" ngModel>
    <label for="DOB">DOB</label>
    <input type="date" id="DOB" name="DOB" ngModel>
    <label for="NI">NI Number</label>
    <input type="text" id="NI" name="NI" ngModel>
    <label for="MobileNum">Mobile #</label>
    <input type="text" id="MobileNum" name="MobileNum" ngModel>
    <label for="HomeNum">Home #</label>
    <input type="text" id="HomeNum" name="HomeNum" ngModel>
    <label for="WorkNum">Work #</label>
    <input type="text" id="WorkNum" name="WorkNum" ngModel>
    <label for="Email">E-mail</label>
    <input type="text" id="Email" name="Email" ngModel>
    <label for="MartialStatus">Martial Status</label>
    <input type="text" id="MartialStatus" name="MartialStatus" ngModel>
    <label for="Occupation">Occupation</label>
    <input type="text" id="Occupation" name="Occupation" ngModel>
    <label for="JobStatus">Job Status</label>
    <input type="text" id="JobStatus" name="JobStatus" ngModel>
    <label for="Dependants">Dependants</label>
    <input type="text" id="Dependants" name="Dependants" ngModel>
    <label for="DependantsDOB">Dependants DOB</label>
    <input type="date" id="DependantsDOB" name="DependantsDOB" ngModel>

    <label for="Monthly">Monthly</label>
    <input type="date" id="Monthly" name="Monthly" ngModel>
    <label for="CurrentArrears">Current Arrears</label>
    <input type="text" id="CurrentArrears" name="CurrentArrears" ngModel>
    <label for="ReasonForArrears">Reason For Arrears</label>
    <input type="text" id="ReasonForArrears" name="ReasonForArrears" ngModel>  
    <button type="submit">Submit</button>
    
</form>