@import "../../../scss/abstracts/abstracts";

header {
    padding: 1.5rem 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.2);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;

    @include responsive("phone") {
        text-align: left;
    }

    & span {
        color: #868686;
    }

    & div {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;

        @include responsive("phone") {
            flex-direction: row;
        }

        & a {
            &:link, &:visited {
                color: black;
                text-decoration: none;
                padding-left: 1rem;

                &.active {
                    color: $primary-color;
                    font-weight: bolder;
                    text-decoration: underline;

                    &:after {
                        color: black;
                        font-weight: normal;
                    }
                }

                &:link {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:last-of-type {
                &:after {
                    content: "";
                }
            }

            &:after {
                @include responsive("phone") {
                    content: "|";
                    padding-left: 1rem;
                }
            }

            &:nth-child(2) {
                @include responsive("phone") {
                    margin-left: auto;
                }
            }
        }
    }
}