@import "../../../scss/abstracts/abstracts";

header {
    padding: 1rem 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,.2);
    text-transform: uppercase;
    margin-bottom: 2rem;

    & div {
        max-width: $max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;

        & a {
            &:link, &:visited {
                color: black;
                text-decoration: none;
                padding-left: 1rem;

                &.active {
                    color: $primary-color;
                    font-weight: bolder;
                    text-decoration: underline;

                    &:after {
                        color: black;
                        font-weight: normal;
                    }
                }
            }

            &:last-of-type {
                &:after {
                    content: "";
                }
            }

            &:after {
                content: "|";
                padding-left: 1rem;
            }

            &:nth-child(2) {
                margin-left: auto;
            }
        }
    }
}