/* You can add global styles to this file, and also import other style files */
//@import "./scss/abstracts/abstracts";
@import "./scss/components/buttons.scss";
@import "./scss/abstracts/mixins";
@import "./scss/base/base";

/* reset */
* {
    padding: 0;
    margin: 0;
  }

  html {
      font-size: 62.5%;
      box-sizing: border-box;
      overflow-x: hidden;
  }

  *, *:before, *:after {
      box-sizing: inherit
  }

  :focus {
      outline: none
  }

  ::-moz-focus-inner {
      border:0;
  }

  ::-moz-focus-outer {
      border:0;
  }

  select::-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
  }