@import "../../../scss/abstracts/abstracts";

app-panel {
    flex: 1;
    padding: 1rem .2rem .2rem .2rem;

    background-color: #e7e7e7;

    @include responsive("phone") {
        border-radius: 1rem;
    }
}
